.container {
    width: 420px;
    height: 350px;
    min-height: 320px;
    max-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    z-index: 130;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 18px rgba(100, 0, 0, .5);
    font-size: 16px;
}

.close {
    background-color: white;
    border: none;
    font-size: 18px;
    margin-left: 410px;
    margin-top: -10px;
}

.layui-input {
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 15px;
}

.layui-form-item {
    margin-left: -20px;
}

#logoid {
    margin-top: -16px;
    padding-left: 150px;
    padding-bottom: 15px;
}

.layui-btn {
    margin-left: -50px;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    font-size: 15px;
}

.verity {
    width: 120px;
}

.font-set {
    font-size: 13px;
    text-decoration: none;
    margin-left: 120px;
}

a:hover {
    text-decoration: underline;
}