.index-title {
    color: #69bdc8;
    font-weight: normal;
    font-size: 80px;
    width: 100%;
}

.subtitle {
    color: rgba(102, 100, 101, 0.5);
    font-size: 20px;
    margin-top: 0px;
}

.home-header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-form {
    display: flex;
    justify-content: space-between;
}