.content {
    width: 60%;
    margin: auto auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* width: fit-content; */
    height: fit-content;
    padding-bottom: 180px;
}

.index-title {
    color: #69bdc8;
    font-weight: normal;
    font-size: 80px;
    width: 100%;
    margin: 0 auto;
}

.subtitle {
    color: rgba(102, 100, 101, 0.5);
    font-size: 20px;
    margin-top: 0px;
}

.home-header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-form {
    display: flex;
    justify-content: space-between;
}