.general {
    font-family: sans-serif;
    margin: 0%;
}

.subtitle {
    color: rgba(102, 100, 101, 0.5);
    font-size: 20px;
    margin-top: 0px;
}

.search {
    width: 35%;
    margin: auto;
    display: flex;
    padding: 20px;
    /*border: 1px solid red;*/
}

.search input {
    float: left;
    flex: 4;
    height: 50px;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 15px;
    font-family: "Microsoft Yahei";
}

.search button {
    float: right;
    flex: 1;
    height: 50px;
    background-color: #0098ac;
    color: white;
    border: none;
    outline: none;
    margin-left: 10px;
    border-radius: 15px;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    font-family: "Microsoft Yahei";
}

.search button i {
    font-style: normal;
}

.search button:hover {
    background-color: rgb(84, 160, 170);
    transition: background-color .25s ease-out, color .25s ease-out;
}

.card-frame {
    margin: 30px;
    margin-right: 350px;
    border: 1px solid black;
    height: 100%;
}

.card {
    border: 1px solid gray;
    padding: 30px;
    height: 400px;
}

.card-name {
    float: left
}

.card-image {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.card-rating {
    display: block;
    padding: 7.5px;
    text-align: center;
    font-size: 25px;
    color: #69BDC8;
}

.card-rating-label {
    display: block;
    text-align: center;
    font-size: 15px;
    color: gray;
}

.card-title {
    font-size: 25px;
}

.card-info {
    display: block;
    padding-left: 20px;
    float: left
}

.card-container {
    display: block;
    padding-top: 20px;
}

.card-item {
    display: block;
    flex-direction: column;
    clear: both;
}

.card-intro {
    color: gray;
    font: 15px
}

.card-item-image {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.card-label {
    width: 300px;
    vertical-align: middle;
    display: table-cell;
}

.icon-round {
    /* border:1px solid red; */
    background-color: #69BDC8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word
}

.more {
    float: right;
    color: #69BDC8;
    margin-top: 30px;
    margin-bottom: 30px
}

.course-label {
    font-size: 16px
}