.content {
    width: 60%;
    margin: 0 auto
}

.navigation {
    margin-top: 10px;
    padding-left: 0px;
}

.navigation li {
    display: inline;
    color: darkgray;
}

.navigation a {
    text-decoration: none;
    color: darkgray;
}

.navigation li:not(:last-child) a:after {
    content: ' \00A0 \00A0 > \00A0';
}

.display-box {
    border: 1px solid darkgray;
    border-radius: 5px;
    border-bottom: 2px solid gray;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.name-with-picture {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 30px;
}

.name-with-picture .icon-round {
    /* border:1px solid red; */
    background-color: #69BDC8;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.name-with-picture .teacher-icon {
    border-radius: 50%;
    /* border:1px solid red; */
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

.ratings {
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 50px;
}

.rating-cell:nth-child(2),
.rating-cell:nth-child(4) {
    background-color: rgba(211, 211, 211, 0.5);
}

.rating-cell {
    width: 100%;
    height: 65px;
}

.page-selector-first {
    /* border:1px solid red; */
    width: 100px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-selector-second {
    /* border:1px solid red; */
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    margin-right: 10px;
    width: 0;
    height: 0;
    border-right: 1rem solid #69BDC8;
    border-top: .65rem solid transparent;
    border-bottom: .65rem solid transparent;
}

.right-arrow {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 1rem solid #69BDC8;
    border-top: .65rem solid transparent;
    border-bottom: .65rem solid transparent;
}

.review-table {
    margin: 2px;
    width: 100%;
}

.review-content {
    margin: 5px 0px;
    text-align: justify;
    margin-top: 10px;
    font-size: 15px;
    line-height: 150%;
    margin-right: 40px
}

.feedback {
    width: 100%;
    height: 30px;
    background-color: #69bdc87a;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.feedback a {
    line-height: 30px;
    text-decoration: none;
    color: black;
}

.feedback .control {
    margin-left: 5px;
    margin-right: 5px;
}

.add-review-div {
    align-items: center;
}

.add-review {
    color: white;
    margin-top: 10px;
    margin-right: 15px;
    width: 100px;
    height: 30px;
    background-color: #69BDC8;
    border-radius: 12.5px;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.add-review:hover {
    background-color: rgb(84, 160, 170);
    transition: background-color .25s ease-out, color .25s ease-out;
}

.add-review-text {
    color: white;
    font-family: "Microsoft Yahei";
}