.container {
    width: 420px;
    height: 320px;
    /* min-height: 320px;
    max-height: 320px; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
    font-size: 16px;
}

.container::after {
    position: absolute;
    z-index: -1;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: auto;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    background-color: 0;
}

.close {
    background-color: white;
    border: none;
    font-size: 18px;
    float: right;
    margin-bottom: 50px;
    cursor: pointer;
}

.email {
    float: left;
}

.layui-input {
    border-radius: 10px;
    width: 300px;
    /* height: 40px; */
    font-size: 15px;
}

.layui-form-item {
    margin-left: -20px;
}

#logoid {
    margin-top: -16px;
    padding-left: 150px;
    padding-bottom: 15px;
}

.layui-btn {
    margin-left: -55px;
    border-radius: 10px;
    width: 350px;
    /* height: 40px; */
    font-size: 15px;
}

.verity {
    width: 120px;
}

.font-set {
    font-size: 13px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}