.general {
    font-family: sans-serif;
}

.back-button {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-bottom: 100px solid transparent;
    border-left: 100px solid #69BDC8;
    border-right: 100px solid transparent;
}

.back-button-title {
    position: fixed;
    left: 10px;
    color: white;
    font-size: 40px;
    line-height: 50px;
}

.title {
    color: #69bdc8;
    font-weight: normal;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.review-form {
    margin-top: 30px;
}

.question {
    margin-top: 30px;
    clear: both;
}

.question label {
    /* font-family: "Microsoft Yahei"; */
    display: block;
    margin-bottom: 15px;
}

.question select {
    background: white;
    height: 28px;
    width: 280px;
    line-height: 28px;
    border: 1px solid #69bdc8;
    border-radius: 3px;
}

.add-review {
    color: white;
    margin-top: 44px;
    margin-right: 15px;
    width: 100px;
    height: 30px;
    background-color: #69bdc8;
    border-radius: 12.5px;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.add-review:hover {
    background-color: rgb(84, 160, 170);
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.add-review-text {
    color: white;
    /* font-family: "Microsoft Yahei"; */
}

.subtitle {
    text-align: center;
    display: block;
    padding-top: 30px;
    clear: both;
}

.radio-block {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.radio-points {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}